<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
<ul>
<li>
<p th:text="${errorMsg}"></p>
</li></ul></div>
<form th:action="@{/loginO}" method="post" >
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="username">
   
  
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>
   <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>